# Virtual Environment
.venv/
venv/
ENV/

# Python Cache Files
__pycache__/
*.py[cod]
*$py.class

# SQLite databases generated during test execution
test_*.db

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
